{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}-詳細ページ{% endblock %}

{% block content %}
    <div class="container my-4">
    <div class="card shadow">
        <div class="card-body">
        <h1 class="card-title">{{ book.title }}</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ISBN:</strong> {{ book.isbn }}</li>
            <li class="list-group-item"><strong>著者:</strong> {{ book.author }}</li>
            <li class="list-group-item"><strong>出版社:</strong> {{ book.publisher }}</li>
            <li class="list-group-item"><strong>出版日:</strong> {{ book.published_date }}</li>
            <li class="list-group-item"><strong>ジャンル:</strong> {{ book.genre }}</li>
        </ul>
        <div class="mt-4 d-flex gap-3">
            <a href="{% url 'index' %}" class="btn btn-secondary">← 一覧ページへ戻る</a>
            {% if user.is_authenticated and user.username == "admin" %}
            <a href="{% url 'update' book.id %}" class="btn btn-outline-primary">編集する</a>
            <a href="{% url 'delete' book.id %}" class="btn btn-outline-danger">削除する</a>
            {% else %}
                {% if not book.rent %}
                    <a href="{% url 'lent' book.id %}" class="btn btn-outline-success">この本を借りる</a>
                {% elif book.rent_user == user %}
                    <a href="{% url 'return_book' book.id %}" class="btn btn-outline-warning">本を返す</a>
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>
    </div>

{% endblock%}
