{% extends "base.html" %}
{% block title %}-追加ページ{% endblock %}
{% block content %}
<h1>本の追加ページ</h1>

<form action="" method="post">
    {% csrf_token %}
    
    <div>
    <label for="{{ form.title.id_for_label }}">タイトル:</label>
    {{ form.title }}
    {% if form.title.errors %}
        {% for error in form.title.errors %}
        <div class="field-error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    </div>


    <div>
        <label for="{{ form.author.id_for_label }}">著者:</label>
        {{ form.author }}
        {% for error in form.author.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.publisher.id_for_label }}">出版社:</label>
        {{ form.publisher }}
        {% for error in form.publisher.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.published_date.id_for_label }}">出版日:</label>
        {{ form.published_date }}
        {% for error in form.published_date.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.isbn.id_for_label }}">ISBN:</label>
        {{ form.isbn }}
        {% for error in form.isbn.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.genre.id_for_label }}">ジャンル:</label>
        {{ form.genre }}
        {% for error in form.genre.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}
    </div>


    <button type="submit">作成</button>
</form>
<div>
    <a href="{% url 'books_list'%}">一覧ページへ戻る</a>
</div>
{% endblock  %}